.about-icon__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 12px auto;
}

.about-icon {
  background: rgba(255, 255, 255, 0.55);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  font-size: 50px;
}

.about-icon--small {
  font-size: 44px;
}

.about-icon--large {
  font-size: 56px;
}

.about-icon--smaller {
  font-size: 40px;
}

.about-icon--redux-cont {
  position: absolute;
  height: 75px;
  width: 75px;
}

.about-icon--redux {
  position: relative;
  left: 11px;
  bottom: 2px;
}

.about-image {
  border-radius: 50%;
  margin-left: auto;
	margin-right: auto;
  display: block;
}
